body {
    background-color: #FFF;
    font-family: 'Raleway', sans-serif;
    margin: 0;
}
input,button {
    font-family: 'Raleway', sans-serif;
}


header {
    display: flex;
    justify-content: space-between;
    padding: 0 1rem;
    
}

header .logo {
    height: 3rem;
}

header .menu {
    display: flex;
    list-style-type: none;
    margin: 0;
}

header .menu li {
    padding: 1rem;
    border-top: 2px solid transparent;
}

header .menu li.active {
    border-top: 2px solid #0065FC;
    color: #0065FC;
    
}
.contenu {
    padding: 1rem;
}


.recherche {
    border-radius: 0.8rem;
    display: inline-flex;
    overflow:hidden;
    border: 1px solid #F2F2F2;
}
.recherche i {
    background-color: #F2F2F2;
    height: 2rem;
    color: black;
    vertical-align: top;
    line-height: 2rem;
    padding: 0 1rem ;
}
.recherche input {
    font-weight: bold;
    height: 2rem;
    padding: 0 1rem;
    border: none;
    margin: 0;
}



.buttonr {
    background-color: #0065FC;
    color: white;
    border: none;
    height: 2rem;
    padding: 0 1rem;
    font-weight: bold;
}

.button-filtres i {
    color: #0065FC;
    background-color: #bbcbe2;
    }

img {
    height: 10rem;
}
.button-filtres {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 0.5rem;
    padding-right: 1rem;
    border-width: 0.1rem;
    border-radius : 1.5rem;
    
}
.input-filtres {
    border: none;
}
.info i {
   line-height: 3rem;
   padding: 0 1rem;
    color: #0065FC;
} 
.info {
    display: flex;
}

.hebergements {
    max-width: 50%;
    flex-direction: column;
    display: flex;
    
    
}
 .images {
     display: flex;
     justify-content: space-between;
     
 }


.hebergement-img {
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
    border: 5px solid rgba(185, 181, 181, 0.89)
    
    

}
.stars {
    color: #0065FC;
}
.les-plus-populaires {
    justify-content: right;
    text-align: right;
    padding-inline: 22rem;
    position: relative;
    bottom: 41rem;
    
}

.les-plus-populaires i {
    position: absolute;
    padding-left: 3rem;
    top: 0.5rem;
}
.les-plus-populaires img {
    border-radius: 1rem;
    border: 5px solid rgba(185, 181, 181, 0.89)
    
}
