body {
    background-color: #F2F2F2;
    font-family: 'Raleway', sans-serif;
    margin: 0;
}


header {
    display: flex;
    justify-content: space-between;
    padding: 0 1rem;
    
}

header .logo {
    height: 3rem;
}

header .menu {
    display: flex;
    list-style-type: none;
    margin: 0;
}

header .menu li {
    padding: 1rem;
    border-top: 2px solid transparent;
}

header .menu li.active {
    border-top: 2px solid blue;
    color: blue;
    
}
.buttonr {
    background-color: blue;
    color: white;
}

.fas {
    color: blue;
    }

