body {
    background-color: #FFF;
    font-family: 'Raleway', sans-serif;
    margin: 0;
}
input,button {
    font-family: 'Raleway', sans-serif;
}


header {
    display: flex;
    justify-content: space-between;
    padding: 0 1rem;
    
}

header .logo {
    height: 3rem;
}

header .menu {
    display: flex;
    list-style-type: none;
    margin: 0;
}

header .menu li {
    padding: 1rem;
    border-top: 2px solid transparent;
}

header .menu li.active {
    border-top: 2px solid #0065FC;
    color: #0065FC;
    
}
.recherche {
    border-radius: 0.8rem;
    display: inline-flex;
    overflow:hidden;
    border: 1px solid #F2F2F2;
}
.recherche i {
    background-color: #F2F2F2;
    height: 2rem;
    color: black;
    vertical-align: top;
    line-height: 2rem;
    padding: 0 1rem ;
}
.recherche input {
    font-weight: bold;
    height: 2rem;
    padding: 0 1rem;
    border: none;
    margin: 0;
}



.buttonr {
    background-color: #0065FC;
    color: white;
    border: none;
    height: 2rem;
    padding: 0 1rem;
    font-weight: bold;
}

.button-filtres i {
    color: #0065FC;
    }

img {
    height: 10rem;
}
.button-filtres {
    
    padding-left: 2px;
    padding-right: 2px;
    border-width: 0.5px;
    border-radius : 1.5rem;
}
.input-filtres {
    border: none;
}
